.section_1{
    height: 700px;
    width: 100%;
    padding: 100px 0px 0px 100px;
    box-sizing: border-box;
    background-image: url(../img/sigmund-6jaBQAURBgI-unsplash.png);
    background-size: cover;
}

.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenedor div h1{
    margin-top: 35px;
    color: white;
    font-size: 60px;
}

.contenedor div h2{
    color: white;
    font-size: 40px;
    margin-top: 25px;
}

.boton{
    display: block;
    background-color: #4A4A4A;
    width: 150px; 
    padding: 10px;
    margin-top: 65px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 25px;
}

.caja{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.caja div{
    width: 200px;
    height: 200px;
    padding: 0px;
    margin-top: 60px;
    margin-right: 100px;
    margin-left: 100px;
}
.caja{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.caja div{
    width: 200px;
    height: 200px;
    padding: 0px;
    border: 1px solid #4A4A4A;
    margin-top: 60px;
    margin-right: 100px;
    margin-left: 100px;
}
